.card {
    background-color: coral;
    width: 400px;
    padding: 20px;
    border: 2px dashed red;
    border-radius: 5px;
    margin-top: 20px;
    font-family: monospace;
}
.avatar {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.destaque {
    color: red;
}